body{
    padding: 100px;
}
.login-area{
    margin-top: 50px;
    border-radius:5px;
    box-shadow: 5px 5px 10px gray;
    padding: 40px;
}
#transaction-area{
    display: none;
}
.status{
    margin: 2px 20px;
    padding: 30px;
    color: white;
    border-radius: 10px;
}
.deposit{
    background-color: lightgreen;
}
.withdraw{
    background-color:bisque;
}
.balance{
    background-color: lightsalmon;
}
#box-area{
    display: none;
}
    